@model RockPaperScissors.Dto.Query.MatchView

<div class="row">
    <div class="col-lg-12">

        <h2>Match Started</h2>

        <div>
            <p>@Model.MatchData.PlayerOneType vs @Model.MatchData.PlayerTwoType - Best of @Model.MatchData.GameCount</p>
            <hr />
        </div>
        @if (Model.MatchData.Result != null)
        {
            <h1>@Model.MatchData.Result</h1>
            <button id="reset-button" class="btn btn-primary" role="button" onclick="resetClick()">Play Again</button>
        }
        else
        {
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="section-subheading">Select your weapon...</h3>
                    <div class="row text-center">
                        @foreach (var item in Model.GameItems)
                        {
                        <div class="col-xs-4">
                            <button class="btn btn-primary" onclick="gameItemClick(@item.Id, @Model.MatchData.Id)"><i class="fas fa-@item.Icon fa-5x" style="vertical-align:middle;"></i>&nbsp;@item.Name</button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        }
        @if (Model.MatchData.Games.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Play Number
                        </th>
                        <th>
                            Your Choice
                        </th>
                        <th>
                            Computer Choice
                        </th>
                        <th>
                            Result
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 1;}
                    @foreach (var game in Model.MatchData.Games)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => game.PlayerOneChoice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => game.PlayerTwoChoice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => game.Result)
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
    </div>
</div>
