@model RockPaperScissors.Dto.Query.IndexView
@{
    ViewData["Title"] = "Rock, Paper, Scissors";
}

<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">The....</div>
            <div class="intro-heading">Rock, Paper, Scissors Game</div>
            <a id="btnPlay" href="#play" class="page-scroll btn btn-xl">Play Game</a>
        </div>
    </div>
</header>

@Html.Partial("_About")
@Html.Partial("_Play", Model)
@Html.Partial("_Work")
@Html.Partial("_Todo")

@section Scripts {
    <script>
        function selectPlayer(selectedId) {
            $('#start-game').hide();
            $('.loader').show();
            $.ajax({
                url: '@Url.Action("StartMatch", "Home")?computerTypeId=' + selectedId,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('#match-play').html(data);
                    $('.loader').hide();
                },
            });
        };

        function gameItemClick(gameItemid, matchId) {
            $.ajax({
                url: '@Url.Action("PlayGame", "Home")?gameItemId=' + gameItemid + '&matchId=' + matchId,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $('#match-play').html(data);
                },
            });
        }

        function resetClick() {
            $('#start-game').show();
            $('#match-play').html(null);
        };

    </script>
}

