@model RockPaperScissors.Dto.MatchDto

@{
    ViewData["Title"] = "Play Game";
}

<h2>Game Started</h2>

<div>
    <h4>@Model.PlayerOneType vs @Model.PlayerTwoType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Match Id: @Html.DisplayFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayerTwoId)
        </dd>
    </dl>
</div>
<div class="row">
    <button id="play-button" role="button" class="btn btn-primary">Play Game</button>
    <div id="match-play"></div>
</div>

@section Scripts{
    <script>

        $('#play-button').click(function () {
            $.ajax({
                url: '@Url.Action("Play", "Home")?matchId=' + @Model.Id + '&playerOneItemId=1',
                type: "GET",
                dataType: "html",
                //data: { id: 1 },//this is as per your requirement
                success: function (data) {
                    $('#match-play').html(data);
                    //if (data.Result.length > 0) {
                    //    $('#play-button').hide();
                    //}
                },
            });
        });
    </script>
}